h4{
    margin: 10px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    border: 1px solid red;
    height: 500px;

    .contenedor{
        display: block;
        height: 195px;
        
        .imagen{
            width:100% !important;  
            height : 100% !important;  
            max-width: 300px !important;  //any size
            max-height: 550px !important; //any size
        }
    
        .tituloMovie{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
